<!DOCTYPE html>

<html lang="en">

{% include head.html %}
<style>
div {
  max-width: 800px;
  min-width: 100px;
}
</style>
<center>  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>About me</h2>
          </div>
      </div>
  </aside>

<body>

<div><p><p> I was  born and raised in the French Caribbean island of <a href="http://www.biodiversite-martinique.fr/" target="_blank">Martinique</a>. I was initially trained as a <b>vet</b> at the Nantes-Atlantic National College of Veterinary Medicine, Food Science and Engineering <a href="https://www.oniris-nantes.fr/" target="_blank">Oniris</a> where I developed a strong interest for <b>wildlife</b> and volunteered at the local wildlife rescue centre. With the same interest in mind, I travelled to Togo to study West African manatee conservation and to French Guyana to take part in marine turtle monitoring during my vet studies. My first job after vet school was at the <a href="http://www.oncfs.gouv.fr/Connaitre-l-Office-ru17/French-national-agency-for-wildlife-ar68" target="_blank"> French national agency</a> for Wildlife, where I worked from June 2006 to February 2009 as coordinator of the <a href="https://www.tortuesmarinesmartinique.org/" target="_blank">Marine turtle</a> conservation program, in Martinique (Read the action plan for species recovery (FR)<a href="https://docs.wixstatic.com/ugd/891b35_5423ab1656e44c90831183d8a53dccfb.pdf"> here</a>). </p>
<p><img src="static/img/turtle2.jpg" > </p>

<p> I then worked as a vet in France before heading back to college for a <a href="http://aeema.vet-alfort.fr/index.php/2013-04-12-00-34-41/ces-master" target="_blank">MSc. in <b>epidemiological</b> surveillance</a> of human and animal diseases; the degree was shared between the National vet school of Paris, the University of Paris (Sud, Est) and the <a href="https://www.cirad.fr/" target="_blank">CIRAD-EMVT</a> of Montpellier. For my masters' internship, I studied the <a href="https://www.researchgate.net/publication/269631659_Contribution_a_la_validation_du_protocole_d'epidemiosurveillance_de_la_paratuberculose_des_cervides_d'elevage_de_Nouvelle-Zelande_Bayesian_and_frequentist_approaches_for_the_validation_of_Johne's_dise?_sg=7p71rqxRtiRRqiK1lT3GUkGYrBDi6877yNTnFrPzOszrIwZBC3oGuKdhYGawMnxC8t7Nz3mSW8yVfxcy7-p4spfysIVKAB5tvn4JPPsm.WtX5qaUOgGm8O9SWxTVsFB5SjQfgqYpnwpMt6VRjFfG75lebnapCKDy34SQW93usWdrPywQI5OpNEFB0RiJskA" target="_blank">epidemiology of paratuberculosis</a> in New Zealand's deer industry at Massey University.</p>

<p> My PhD took place at the Department of <b>Evolutionary Ecology</b> of the <a href="https://www.jyu.fi/en" target="_blank">University of Jyväskylä</a> (Finland) and dealt with the <a href="https://jyx.jyu.fi/bitstream/handle/123456789/55663/978-951-39-7206-6_vaitos03112017.pdf?sequence=1" target="_blank">ecology of tick-borne pathogens</a>. My research interests are the <b>ecology and epidemiology</b> of pathogens and parasites with an emphasis on zoonotic pathogens.</p>

<p> I am now a postdoc at the University of Umeå, in Sweden, in  <a href="https://www.slu.se/en/cv/frauke-ecke/" target="_blank"> Fraucke Ecke's</a> research group.</div>
<p>
  <img src="static/img/trip.jpg" class="img-responsive" alt="" usemap="#worldmap" >

<map name="worldmap">
  <area shape="rect" coords="264,208,273,197" alt="Home" href="https://www.flickr.com/photos/154479426@N08/sets/72157686016587674" target="_blank">
  <area shape="rect" coords="432,81,450,56" alt="Suomi" href="https://www.flickr.com/photos/154479426@N08/albums/72157686108182993" target="_blank">
   <area shape="rect" coords="700,396,754,356" alt="Kiwis" href="https://www.flickr.com/photos/154479426@N08/albums/72157668869128139" target="_blank">
  <area shape="rect" coords="391,134,418,108" alt="FrogsAndMore" href="https://www.flickr.com/photos/154479426@N08/collections/72157678804701828/" target="_blank">
  </map>
  
</p>
</center>
</body>
</html>