<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p> I am a field and lab disease ecologist trained at the vet School Oniris (France) and at the University of Jyväskylä (Finland), currently working in Umeå (Sweden). </p>
                <a href="https://clairecayol.gitlab.io/Research/aboutme.html" class="btn btn-default btn-xl" target="_blank">Read more</a>
                <p><p><p>


<h2 class="section-heading">About this web platform</h2>
  <hr class="light">
 <p> This web platform, meant to evolve constantly, aims at sharing the lab protocols used, tested or observed during my research with my collaborators, for the sake of transparency and repeatability of science. Future collaborators are before all encouraged to explore the folder "Others" which explains the safety procedures when working with zoonotic pathogens (e.g. PUUV).</p>

<p>If you are a member of my previous or current research group, you will access to the folders by clicking on the pictures of the portofolio. The article to be quoted is cited in each protocol. This project is version controlled via git hosted in GitLab (@ClaireCayol) to enable sharing and synchronisation among collaborators.</p>
            </div>
        </div>
    </div>
</section>