<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Research toolbox</h1>
            <hr>
            <p>From a field and lab disease ecologist</p>
            <p>Disease ecology is the the ecological study of host-pathogen interactions within the context of their environment and evolution<sup>(1)</sup>. In other words, in disease ecology, host and pathogens are not studied in isolation, but while taking into account the host and pathogen's populations, and the local and focal environments in which they live. </p>
<p style="font-size:90%;"><sup>(1)</sup>Kilpatrick & Altizer (2010) Disease Ecology. Nature Education Knowledge 3(10):55</p>
            <a href="https://www.nature.com/scitable/knowledge/library/disease-ecology-15947677"  class="btn btn-primary btn-xl page-scroll"  target="_blank">Read more</a>
        </div>
    </div>
</header>