<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include aboutme00.html %}
  {% include contact.html %}
  {% include aside.html %}
  {% include scripts.html %}

</body>

</html>